@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Department" class="btn btn-primary btn-lg"> Departments</a>
    <a asp-controller="Employee" class="btn btn-primary btn-lg" > Employees</a>
</div>
